@page "/newcard"
@inject IPaymentService PaymentService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient HttpClient
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Add a new card</PageTitle>

<div class="container">
    <div class="header">
        <NavLink href="/card-overview"><img src="/images/icons/arrow-left.svg" alt="previous page" /></NavLink>
        <h1>Add a new card</h1>
        <NavLink class="invisible-icon" href="/menu"><img src="/images/icons/arrow-left.svg" /></NavLink>
    </div>

    @if (newCard != null)
    {
        var (firstName, lastName) = SplitName(newCard.CardHolderName);
        <div class="card">
            <img src="images/card.svg" alt="Card image" class="card-image" />
            <div class="card-details">
                <div class="card-company">@newCard.PaymentCompany</div>
                <div class="card-number">@newCard.CardNumber</div>
                <div class="name-expiry-container">
                    <div class="card-holder">
                        <div>@firstName</div>
                        <div>@lastName</div>
                    </div>
                    <div class="card-expiry">
                        <div>EXP. END</div>
                        <div>@newCard.ExpiryDate</div>
                    </div>
                </div>
            </div>
        </div>
    }

    <EditForm Model="newCard" OnSubmit="CreateNewPayment" FormName="CreateNewCard" novalidate>
        <DataAnnotationsValidator />

        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">
                @ErrorMessage
            </div>
        }

        <div class="input-container">
            <div class="mb-3">
                <label for="companyInput" class="form-label">PAYMENT COMPANY</label>
                <InputText @bind-Value="newCard.PaymentCompany" class="form-control" id="companyInput" />
                <ValidationMessage For="@(() => newCard.PaymentCompany)" />
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">NAME</label>
                <InputText @bind-Value="newCard.CardHolderName" class="form-control" id="nameInput" />
                <ValidationMessage For="@(() => newCard.CardHolderName)" />
            </div>
            <div class="mb-3">
                <label for="cardNumberInput" class="form-label">CARD NUMBER</label>
                <InputText @bind-Value="newCard.CardNumber" class="form-control" id="cardNumberInput" />
                <ValidationMessage For="@(() => newCard.CardNumber)" />
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="expirationInput" class="form-label">MM/YY</label>
                    <InputText @bind-Value="newCard.ExpiryDate" class="form-control" id="expirationInput" />
                    <ValidationMessage For="@(() => newCard.ExpiryDate)" />
                </div>
                <div class="col-6 mb-3">
                    <label for="cvvInput" class="form-label">CVV</label>
                    <InputText @bind-Value="newCard.CVV" type="password" class="form-control" id="cvvInput" />
                    <ValidationMessage For="@(() => newCard.CVV)" />
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-white">SAVE CARD</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private PaymentModel newCard = new PaymentModel();
    private string ErrorMessage = "";
    private string firstName;
    private string lastName;

    public async Task CreateNewPayment()
    {
        ErrorMessage = await PaymentService.CreateNewPayment(newCard);
        if (string.IsNullOrEmpty(ErrorMessage))
        {
            NavigationManager.NavigateTo("/card-overview");
        }
    }

    private (string, string) SplitName(string fullName)
    {
        if (string.IsNullOrWhiteSpace(fullName))
            return ("", "");

        var names = fullName.Split(' ');
        if (names.Length == 1)
            return (names[0], "");

        return (names[0], string.Join(" ", names.Skip(1)));
    }
}
